/Dynamic_library/
/cmake-build-debug/
/build/
/.vscode/
/Package/AngleSolve/build/
/Package/AngleSolve/cmake-build-debug/
/Package/Armor_Detection/build/
/Package/Armor_Detection/cmake-build-debug/
/Package/Armor_Observe/build/
/Package/Armor_Observe/cmake-build-debug/
/Package/Armor_Track/build/
/Package/Armor_Track/cmake-build-debug/
/Package/HIK_Camera/build/
/Package/HIK_Camera/cmake-build-debug/
/Package/MD_Camera/build/
/Package/MD_Camera/cmake-build-debug/
/Package/Serial_Device/build/
/Package/Serial_Device/cmake-build-debug/