<launch>
    <node
        name="Serial_Device_L"
        pkg="Serial_Device"
        type="Serial_Device_Send_L_node"
        respawn="true"  
        >
    </node>

    <node
        name="Serial_Device_Receive_L_test"
        pkg="Serial_Device"
        type="Serial_Device_Receive_test_L_node"
        output="screen"
        respawn="true"   
        >
    </node>
</launch>